OPENAI_API_KEY=
EMBEDDINGS_MODEL=text-embedding-3-small
CHROMA_COLLECTION_NAME=ai11_policy_advanced_v2_1024
CHROMA_PERSIST_DIRECTORY=/home/data/chroma_advanced_v2_1024
BM25_INDEX_PATH=/home/data/bm25_advanced_v2_1024/bm25_index.pkl
OPENAI_MODEL=